@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    font-family:"DM Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

:root{
    --color-title-span-text-icon-hero: #2f1c6a;
    --color-buttom-small-span-icon-hero: #673de6;
    --color-correct-symbol_icon-hero: #00b090;
    --color-buttom2-hero: #e2dbfc;


    --color-background:#1f1346;
    --color-text:#ffffff;
    --color-article:#2f1c6a;
    --color-button:#673de6;
    --color-icon:#ffffff;
    --color-navegation-section-text-small:#1d1e20;

    --color-footer-section-text-small:#311c6e;
    --color-footer-icons: #311c6e;
} 

/* margin bottom */
.mb-1{
    margin-bottom: 16px;
}
.mb-2{
    margin-bottom: 24px;
}
.mb-3{
    margin-bottom: 32px;
}

.mt-3{
    margin-top: 32px;
}



/* HEADER START */

header{
    display: flex;
    align-items: center;
    height: 88px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* capas */
    background-color: white;
}

.navegation-section-logo{
    padding: 29px 0px 29px 0px;
}

.h-svgo-icon--logo{
    height: 30px;
}

.navegation-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
}

.section-left{
    display: flex;
    align-items: center;
    gap: 32px;
}

.section-left-navegation{
    display: flex;
    gap: 32px;
}

.navegation-section-text-small{
    color: var(--color-navegation-section-text-small);
    font-size: 16px;
}

.navegation-section-right{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px 40px;
}

.idioma{
    display: flex;
    align-items: center;
    gap: 8px;
}

.bandera{
    height: 20px;
    width: 35px;
    display: inline-block;
}

.navegation-section-right-text-small{
    color: var(--color-navegation-section-text-small);
    font-size: 16px;
    font-weight: 700;
}

.btn-header-section{
    color: #1d1e20;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    padding: 12px 16px;
    margin-left: 20px;
    margin-right: -40px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.bi-list{
    display: none;
}

/* HEADER END */


.text-center{
    text-align: center;
}


/* MAIN SECTION (HERO) START */

.section-hero{
    width: 100%;
    min-height: 750px; 
    max-height: 750px;
}

.left-side{
    width: 100%;
    max-width: 1380px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    padding: 9% 0% 0% 0%;
}

.big-title-hero{
    color: var(--color-title-span-text-icon-hero);
    font-size: 36px;
    font-weight: 700;
    padding-right: 70%;
}

.p-container-hero{
    display: flex;
    gap: 8px;
}

.span-text-hero-{
    color: var(--color-title-span-text-icon-hero);
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
    font-weight: 600;
}

.span-text-hero{
    color: var(--color-title-span-text-icon-hero);
    font-size: 20px;
    font-weight: 600;
}

.span-check-icon-container1{
    padding: 1% 0% 0%; 
}

.span-check-icon-container2{
    padding: 0% 0% 0%; 
}

.span-check-icon-container3{
    padding: 0% 0% 1%; 
}

.light-span-text{
    color: var(--color-buttom-small-span-icon-hero);
    font-size: 20px;
    font-weight: 600;
}

.bi-check-lg{
    color: var(--color-correct-symbol_icon-hero);
    font-size: 24px;
}

.span-text-hero-16px{
    color: var(--color-title-span-text-icon-hero);
    font-size: 16px;
    font-weight: 400;
}

/* .span-text-15px-num-container{

}
 */

.span-text-hero-15px{
    color: var(--color-title-span-text-icon-hero);
    font-size: 20px;
    font-weight: 600;
}


.span-text-hero-num{
    color: var(--color-title-span-text-icon-hero);
    font-size: 48px;
    font-weight: 600;
}

.bi-question-circle{
    color: var(--color-title-span-text-icon-hero);
}

.btn-container-hero{
    display: flex;
    margin: 2% 0% 1%;
    gap: 10px;
}

.btn-1{
    color: white;
    font-size: 16px;
    background-color: var(--color-buttom-small-span-icon-hero);
    border: 2px solid var(--color-buttom-small-span-icon-hero);
    border-radius: 8px;
    padding: 12px 48px;
    text-decoration: none;
}

.btn-2{
    color: var(--color-title-span-text-icon-hero);
    font-size: 16px;
    font-weight: 600;
    background-color: var(--color-buttom2-hero);
    border: 2px;
    border-radius: 8px;
    padding: 12px 48px;
    text-decoration: none;
}

/* .garantia-span-container{

} */

.bi-shield-check{
    color: var(--color-buttom-small-span-icon-hero);
    font-size: 16px;
}

.span-text-hero-garantia{
    color: var(--color-title-span-text-icon-hero);
    font-size: 16px;
    font-weight: 400;
}   

.img-containter-hero{
    border: 2px solid burlywood;
}

.hero-img{
    width: 100%;
    max-width: 880px;
    display: flex;
    position: relative;
    top: -500px;
    left: 496px;
}




/* MAIN SECTION (MIGRACION) START */

.section-migracion-de-sitios-web-simplificada{
    background-color: var(--color-background);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: 640px;
    height: auto;
    padding-bottom: 30px;
}

.section__content{
    width: 100%;
    max-width: 1220px;
    display: flex;
    flex-direction: column;
    padding: 56px 0px;
    align-items: center;
}

.title-medium{
    color: var(--color-text);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 18px;
}

.text-small{
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    max-width: 1128px;
    margin: 0 auto;
}

.title-small{
    color: var(--color-text);
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content__card-container{
    display: flex;
    flex-direction: row;
    margin: 32px 36px;
    padding: 0px 40px;
    gap: 24px;
    width: 100%;
}

.content-card{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 32px;
    background-color: var(--color-article);
    /* Flex es una propiedad de hijo (Osea que el padre de este elemento debe ser una flexbox) */
    flex: 1; /* se dividan equitativamente el espacio */
    height: 256px;
}

.text-small-content-card{
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
}

.content-cardn__icon{
    width: 40px;
    height: 40px;
}

.bi-list-ul{
    color: var(--color-icon);
    background-color: var(--color-button);
    font-size: 24px;
    padding: 10px;
    border-radius: 8px;
}

.bi-lightning-charge{
    color: var(--color-icon);
    background-color: var(--color-button);
    font-size: 24px;
    padding: 10px;
    border-radius: 8px;
}

.bi-check-circle{
    color: var(--color-icon);
    background-color: var(--color-button);
    font-size: 24px;
    padding: 10px;
    border-radius: 8px;
}

.btn-migracion-container{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin: 0px 36px;
}

.btn-migracion-section{
    background-color: var(--color-button);
    font-weight: 700;
    font-size: 16px;
    color: var(--color-text);
    border: 2px solid var(--color-button);
    border-radius: 8px;
    padding: 12px 48px;
    text-decoration: none;
}

/* MAIN END */



/* FOOTER START */

/* LISTO */
.footer-container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

/* LISTO */
.logo-and-social-icons-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 3px 10px 0px;
}

.h-svgo-icon--logo-footer{
    height: 30px;
}

.social-icons-container{
    display: flex;
    gap: 20px;
}

.bi-linkedin{
    color: var(--color-footer-icons);
    font-size: 32px;
}

.bi-facebook{
    color: var(--color-footer-icons);
    font-size: 32px;
}

.bi-instagram{
    color: var(--color-footer-icons);
    font-size: 32px;
}

.bi-twitter-x{
    color: var(--color-footer-icons);
    font-size: 32px;
}

.bi-youtube{
    color: var(--color-footer-icons);
    font-size: 32px;
}

/* LISTO */
.payment-methods-and-legal-links-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 45px;
}

/* LISTO */
.payment-methods-container{
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
}

.visa-img{
    height: 40px;
    width: 60px;
    border-radius: 8px;
    border: 1px solid rgb(211, 224, 230);
}

.mastercard-img{
    height: 40px;
    width: 60px;
    border-radius: 8px;
    border: 1px solid rgb(211, 224, 230);
}

.amex-img{
    height: 40px;
    width: 60px;
    border-radius: 8px;
    border: 1px solid rgb(211, 224, 230);
}

.diner-club-international-img{
    height: 40px;
    width: 60px;
    border-radius: 8px;
    border: 1px solid rgb(211, 224, 230);
}

.naranja-img{
    height: 40px;
    width: 60px;
    border-radius: 8px;
    border: 1px solid rgb(211, 224, 230);
}

.cordial-img{
    height: 40px;
    width: 60px;
    border-radius: 8px;
    border: 1px solid rgb(211, 224, 230);
}

.cordobesa-img{
    height: 40px;
    width: 60px;
    border-radius: 8px;
    border: 1px solid rgb(211, 224, 230);
}

.footer-section-payment-text-small{
    color: var(--color-footer-section-text-small);
    font-size: 14px;
}

/* LISTO */
.legal-links-container{
    padding: 10px;
}

.btn-footer-legal-links-1{
    margin-right: 16px;
    color: var(--color-footer-section-text-small);
    font-size: 14px;
    text-decoration: none;
}

.btn-footer-legal-links-2{
    margin-right: 16px;
    color: var(--color-footer-section-text-small);
    font-size: 14px;
    text-decoration: none;
}

.btn-footer-legal-links-3{
    color: var(--color-footer-section-text-small);
    font-size: 14px;
    text-decoration: none;
}

/* LISTO */
.linea-separativa-footer{
    margin: -20px auto 20px auto;
    width: 100%;
    border: none;
    border-top: 1px solid rgb(211, 224, 230);
}

/* LISTO */
.copyright-section{
    padding: 5px;
}

/* LISTO */
.copyright-text{
    display: flex;
    justify-content: space-between;
}

.footer-section-text-small{
    color: var(--color-footer-section-text-small);
    font-size: 14px;
}

/* FOOTER END */



/* LISTO */
/* Tablet grande - monitor chico - 769px a 1279px */
@media screen and (max-width: 1279px){
    .footer-container{
        width: 100%;
        max-width: 1250px;
        margin: 0 auto 0 auto;
        padding: 0 5% 0 5%;
}

    .logo-and-social-icons-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

    .payment-methods-and-legal-links-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 0px 0px 45px;
}

    .payment-methods-container{
        display: flex;
        justify-content: start;
        gap: 6px;
        padding: 5px;
}

    .copyright-text{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
}
}



@media screen and (max-width: 1025px){
    .section__content{
        width: 72%;
        max-width: 1220px;
        display: flex;
        flex-direction: column;
        padding: 56px 0px;
        align-items: center;
}

    .content__card-container{
        flex-direction: column;
        width: 100%;
        max-width: 768px;
        margin: 32px auto;
        padding: 0px 20px;
        box-sizing: border-box; 
    }

    .text-small{
        color: var(--color-text);
        font-size: 16px;
        font-weight: 400;
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }
}



/* LISTO */
/* Celular grande - tablet pequeña - 481px a 768px */
@media screen and (max-width: 768px){
    .footer-container{
        width: 100%;
        max-width: 1250px;
        margin: 0 auto 0 auto;
        padding: 0 5% 0 5%;
}

    .logo-and-social-icons-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

    .payment-methods-and-legal-links-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 0px 0px 45px;
}

    .payment-methods-container{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 6px;
        padding: 5px;
}

    .copyright-text{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
}
}

/* LISTO */
/* Móvil - 320px a 480px */
@media screen and (max-width: 480px) {
    .footer-container{
        width: 100%;
        max-width: 1250px;
        margin: 0 auto 0 auto;
        padding: 0 5% 0 5%;
}

    .logo-and-social-icons-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 30px;
}

    .social-icons-container{
        display: flex;
        justify-content: space-between;
    }

    .payment-methods-and-legal-links-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 0px 0px 45px;
}

    .payment-methods-container{
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        gap: 6px;
        padding: 5px;
}

    .copyright-text{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
}
}




/* header, idioma and bi-list */
@media screen and (max-width: 1139px){
    .idioma{
        display: none;
    }

    .navegation-section-text-small{
        display: none;
    }

    .bi-list{
        color: black;
        font-size: 30px;
        padding: 10px;
        display: block;
    }
}

@media screen and (max-width: 769px){
    .section__content{
        width: 65%;
        max-width: 1220px;
        display: flex;
        flex-direction: column;
        padding: 56px 0px;
        align-items: center;
}
}

@media screen and (min-width: 481px) and (max-width: 620px) {

    .section__content {
        max-width: 1220px;
        width: 100%;
        padding: 40px 24px; /* Espaciado interno, como hace Hostinger */
        display: flex;
        flex-wrap: wrap; /* Solo para que los elementos se acomoden cuando no hay espacio */
        justify-content: space-between;
    }
}

@media screen and (max-width: 480px){
    .section__content{
        width: 100%;
        max-width: 1220px;
        display: flex;
        flex-direction: column;
        padding: 56px 0px;
        align-items: center;
    }

    .title-medium{
        color: var(--color-text);
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 18px;
    }

    .content-card{
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        padding: 32px;
        background-color: var(--color-article);
        /* Flex ; es una propiedad de hijo (Osea que el padre de este elemento debe ser una flexbox) */ 
        flex: 1; /* se dividan equitativamente el espacio */
    }
}



